<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Start nodes -->
  <node pkg="controller" type="controller_node" name="controller" output="screen" >
    <param name="N_max"   		value="500" />         	<!--Spline üzerindeki maksimum kesit   max value=500 -->
    <param name="min_dist"   		value="2.5" />          <!--İki waypoint arasındaki minimum mesafe    -->
    <param name="rc_max"		value="140.0" />       	<!--Maksimum eğrilik yarıçapı    -->
    <param name="rc_min"		value="3.0" />         	<!--Minimum eğrilik yarıçapı    -->
    <param name="v_max"			value="1.0" />        	<!--Maksimum hız m/s    -->
    <param name="n_ret_vel"		value="4" />           	<!--Önceki nokta ile sonraki nokta arası gecikme-->
    <param name="sample_time"		value="0.01" />         <!--Örnekleme süresi    -->
    <param name="q11"		        value="10000" />      	<!--Q(1,1) LQR kontrol    -->
    <param name="q22"		        value="10000" />      	<!--Q(2,2) LQR kontrol   -->
    <param name="r11"		        value="1" />     	<!--R LQR kontrol    -->
  </node>

</launch>
